<html>
    
   

<body>
    <div id="container">
        <div id="header">
            <h1>Welcome to the Starting Strength App!</h1>
        </div>
        <div id="content">
            <nav class = super> <!--Navigation bar/ links to other parts of website-->
        <a class="header">Home</a>
        <a>Stats</a>
        <a>Tutorials</a>
        <a>Workout</a>
    </nav>
            <div id= "main">
                <h2>Homepage</h2>
                 
                 <p>
                     Sample stuff goes here
                 </p>
                  <p>
                     Sample stuff goes here
                 </p>
                  <p>
                     Sample stuff goes here
                 </p>
            </div>
            </div>
        <div id="footer">
            copyright @copy: 2019 Brown/Henderson
        </div>
    </div>
    <p>Find me in app/views/welcome/index.html.erb</p>
    
    
</body>






</html>