<html>
    
   

<body>
    <div id="container">
        <div id="header">
             <h1>
        <title>
            Welcome to the Starting Strength App!
        </title>
    </h1>
        </div>
        <div id="contnent">
            <div id="nav">
                <h3>Navigation</h3>
                <ul>
                    <li>Home</li>
                    <li>Tutorial</li>
                    <li>Stats</li>
                    
                </ul>
            </div>
            <div id= "main">
                <h2>Homepage</h2>
                 
                 <p>
                     Sample stuff goes here
                 </p>
                  <p>
                     Sample stuff goes here
                 </p>
                  <p>
                     Sample stuff goes here
                 </p>
            </div>
            </div>
        <div id="footer">
            copyright @copy: 2019 Brown/Henderson
        </div>
    </div>
    <p>Find me in app/views/welcome/index.html.erb</p>
    
    
</body>






</html>